<div class="container-fluid p-0">
    <h1 class="h3 mb-3">Cadastrar Processo</h1>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Cadastro de Processo</h5>
            <h6 class="card-subtitle text-muted">Preencha os dados do processo</h6>
        </div>

        <div class="card-body">
<div class="alert alert-primary border-0 shadow-sm d-flex align-items-center p-3 mb-4 rounded-3 alert-dismissible fade show"
    role="alert">

    <div class="me-3">
        <i class="fas fa-circle-info fs-4 text-white bg-primary rounded-circle p-2"></i>
    </div>

    <div class="flex-grow-1">
           <h6 class="fw-bold mb-0">
               Preencha os campos marcados com <strong>*</strong>. Os demais são opcionais.
        </h6>
    </div>

    <button type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close">
    </button>

</div>
            <!-- SPINNER -->
            <app-spinner *ngIf="carregando" [show]="true" message="Salvando..."></app-spinner>

            <!-- ALERTAS -->
          <app-alerts
  *ngIf="!carregando && mensagemSucesso.length"
  titulo="Sucesso!"
  [mensagens]="mensagemSucesso"
  tipo="success"
  icone="fas fa-check-circle">
</app-alerts>

         <app-alerts
  *ngIf="!carregando && mensagemErro.length"
  titulo="Erro!"
  [mensagens]="mensagemErro"
  tipo="danger"
  icone="fas fa-times-circle">
</app-alerts>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <!-- ================= ETIQUETAS ================= -->

                <div class="mb-3">
                    <label class="form-label">Etiquetas</label>

                    <app-etiquetas [etiquetas]="tiposetiquetas" [(selecionadas)]="etiquetasSelecionadas">
                    </app-etiquetas>
                </div>
                <!-- ================= DADOS DO PROCESSO ================= -->
                <h5 class="mb-3">Dados do Processo</h5>

                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="form-label">Pasta *</label>
                        <input class="form-control" formControlName="pasta">
                    </div>
                    <div class="text-danger mt-1" *ngIf="form.get('pasta')?.touched && form.get('pasta')?.errors">
                        <div *ngIf="form.get('pasta')?.errors?.['required']">
                            A pasta é obrigatória.
                        </div>
                    </div>
                </div>
                <div class="row mb-3">

                    <!-- ================= PESSOAS ================= -->


                    <div class="row mb-3">

                        <!-- CLIENTES -->
                        <div class="col-md-6">
                            <app-autocomplete-pessoa label="Cliente *" placeholder="Digite o nome do Cliente"
                                [resultados]="pessoasFiltradas" [(selecionadas)]="pessoasSelecionadas"
                                [qualificacoes]="qualificacoes" (buscar)="buscarPessoas($event)">
                            </app-autocomplete-pessoa>
<div
    class="text-danger mt-1"
    *ngIf="
        tentouEnviar &&
        pessoasSelecionadas.length === 0
    ">

    É obrigatório selecionar pelo menos um cliente.

</div>
                        </div>

                        <!-- ENVOLVIDOS -->
                        <div class="col-md-6">
                            <app-autocomplete-pessoa label="Outros envolvidos" placeholder="Digite o nome do envolvido"
                                [resultados]="envolvidosFiltradas" [(selecionadas)]="envolvidosSelecionados"
                                [qualificacoes]="qualificacoes" (buscar)="buscarEnvolvidos($event)">
                            </app-autocomplete-pessoa>
                        </div>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="form-label">Título *</label>
                        <input class="form-control" formControlName="titulo">
                    </div>
                    <div class="text-danger mt-1" *ngIf="form.get('titulo')?.touched && form.get('titulo')?.errors">
                        <div *ngIf="form.get('titulo')?.errors?.['required']">
                            O título é obrigatório.
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-4">
                        <label class="form-label">Instância</label>
                        <select class="form-control" formControlName="instancia">
                            <option [ngValue]="null">Selecione</option>

                            <option [ngValue]="instanciaEnum.PrimeiroGrau">1º Grau</option>
                            <option [ngValue]="instanciaEnum.SegundoGrau">2º Grau</option>
                            <option [ngValue]="instanciaEnum.Superior">Superior</option>
                            <option [ngValue]="instanciaEnum.Supremo">Supremo</option>
                            <option [ngValue]="instanciaEnum.Outros">Outros</option>
                        </select>
                    </div>
                    <div class="col-md-8">
                        <label class="form-label">Número do Processo *</label>
                        <input class="form-control" formControlName="numeroProcesso" mask="0000000-00.0000.0.00.0000">
                    </div>
                    <div class="text-danger mt-1" *ngIf="form.get('numeroProcesso')?.touched && form.get('numeroProcesso')?.errors">
                        <div *ngIf="form.get('numeroProcesso')?.errors?.['required']">
                            O número do processo é obrigatório.
                        </div>
                    </div>

                </div>
                <!-- ================= SELEÇÕES ================= -->
                <div class="row mb-3">

                    <div class="col-md-3">
                        <label class="form-label">Foro</label>
                        <select class="form-control" formControlName="foroId">
                            <option [ngValue]="null">Selecione</option>
                            <option *ngFor="let foro of foros" [ngValue]="foro.id">
                                {{ foro.nome }}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Vara *</label>
                        <select class="form-control" formControlName="varaId">
                            <option [ngValue]="null">Selecione</option>
                            <option *ngFor="let vara of varasFiltradas" [ngValue]="vara.id">
                                {{ vara.nomeVara }}
                            </option>
                        </select>
                        <div class="text-danger mt-1" *ngIf="form.get('varaId')?.touched && form.get('varaId')?.errors">
                            <div *ngIf="form.get('varaId')?.errors?.['required']">
                                A vara é obrigatória.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Ação</label>
                        <select class="form-control" formControlName="acaoId">
                            <option [ngValue]="null">Selecione</option>
                            <option *ngFor="let acao of acoes" [ngValue]="acao.idAcao">
                                {{ acao.nomeAcao }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label">Juízo</label>
                        <p> {{ juizoFormatado }}</p>
                    </div>
                </div>
                <div class="row mb-3">

                    <div class="col-md-6">
                        <label class="form-label">Responsável</label>
                        <select class="form-control" formControlName="usuarioResponsavelId">
                            <option [ngValue]="null">Selecione</option>
                            <option *ngFor="let user of responsaveis" [ngValue]="user.id">
                                {{ user.nomeUsuario }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Link do Tribunal</label>
                        <input class="form-control" formControlName="linkTribunal">
                    </div>
                </div>


                <!-- ================= DETALHES ================= -->




                <!-- ================= VALORES ================= -->
              

                <div class="row mb-3">

                    <div class="col-md-4">
                        <label class="form-label">Valor da Causa</label>
                       
                    <input
  type="text"
  class="form-control"
  formControlName="valorCausa"
  (input)="onMoneyInput($event, 'valorCausa')">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Valor da Condenação</label>
                       <input
  type="text"
  class="form-control"
  formControlName="valorCondenacao"
  (input)="onMoneyInput($event, 'valorCondenacao')">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Data de Distribuição</label>
                        <input type="date" class="form-control" formControlName="distribuido">
                    </div>

                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label class="form-label">Objeto</label>
                        <textarea class="form-control" rows="3" formControlName="objeto"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Observação</label>
                        <textarea class="form-control" rows="3" formControlName="observacao"></textarea>
                    </div>
                </div>
               <!-- <div class="col-md-6">
                    <label class="form-label">Acesso</label>

                    <div class="d-flex gap-4">

                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="acesso"
                                [value]="acessoEnum.Publico" id="acessoPublico">

                            <label class="form-check-label" for="acessoPublico">
                                Público
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="acesso"
                                [value]="acessoEnum.Privado" id="acessoPrivado">

                            <label class="form-check-label" for="acessoPrivado">
                                Privado
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" formControlName="acesso"
                                [value]="acessoEnum.Envolvidos" id="acessoEnvolvidos">

                            <label class="form-check-label" for="acessoEnvolvidos">
                                Envolvidos
                            </label>
                        </div>

                    </div>
                </div>-->

                <!-- BOTÃO -->
              <button
    type="submit"
    class="btn btn-primary"
    [disabled]="carregando">

    <i class="align-middle me-2 fas fa-save fa-lg"></i>
    Salvar

</button>

            </form>

        </div>
    </div>
</div>