<div class="container-fluid p-0">

    <h1 class="h3 mb-3">Editar Tarefa</h1>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Editar Tarefa</h5>
            <h6 class="card-subtitle text-muted">
                Atualize os dados da tarefa
            </h6>
        </div>

        <div class="card-body">

            <app-spinner *ngIf="carregando" [show]="true"></app-spinner>
 <app-alerts
        *ngIf="!carregando && mensagemSucesso.length"
        titulo="Sucesso!"
        [mensagens]="mensagemSucesso"
        tipo="success"
        icone="fas fa-check-circle">
      </app-alerts>

      <app-alerts
        *ngIf="!carregando && mensagemErro.length"
        titulo="Erro!"
        [mensagens]="mensagemErro"
        tipo="danger"
        icone="fas fa-times-circle">
      </app-alerts>


            <form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="d-flex justify-content-end mb-3">

          <button type="button" class="btn btn-light bg-white border" (click)="abrirHistoricoProcesso(id)">

            <i class="fas fa-history me-2"></i>
            Histórico

          </button>

        </div>
                <!-- ETIQUETAS -->
                <div class="mb-3">
                    <label class="form-label">Etiquetas</label>
                    <app-etiquetas [etiquetas]="grupoTarefasEtiquetas" [(selecionadas)]="etiquetasSelecionadas">
                    </app-etiquetas>
                </div>

                <!-- DESCRIÇÃO -->
                <div class="row mb-3">
                    <div class="col-md-12">
                        <label class="form-label">Descrição *</label>
                        <textarea class="form-control" formControlName="descricao">
                        </textarea>
                    </div>

                    <div *ngIf="form.get('descricao')?.touched && form.get('descricao')?.invalid"
                        class="text-danger mt-1">
                        <span *ngIf="form.get('descricao')?.hasError('required')">
                            A descrição é obrigatória.
                        </span>
                    </div>
                </div>

                <!-- DATA + RESPONSÁVEL -->
                <div class="row mb-3">

                    <div class="col-md-6">
                        <label class="form-label">Data da tarefa</label>
                        <input type="date" class="form-control" formControlName="dataTarefa">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Responsável</label>

                        <app-selecionar-responsaveis [resultados]="responsaveisFiltrados"
                            [(selecionadas)]="responsaveisSelecionados" (buscar)="buscarResponsaveis($event)">
                        </app-selecionar-responsaveis>

                    </div>

                </div>

                <!-- STATUS + PRIORIDADE -->
                <div class="row mb-3">

                    <div class="col-md-6">
                        <label class="form-label">Status</label>
                        <select class="form-select" formControlName="statusGeralKanban">

                            <option [ngValue]="statusEnum.A_Fazer">A Fazer</option>
                            <option [ngValue]="statusEnum.Em_Andamento">Em Andamento</option>
                            <option [ngValue]="statusEnum.Concluido">Concluído</option>
                            <option [ngValue]="statusEnum.Cancelado">Cancelado</option>

                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="form-label">Prioridade</label>

                        <select class="form-select" formControlName="prioridade">

                            <option [ngValue]="prioridadeEnum.Baixa">Baixa</option>
                            <option [ngValue]="prioridadeEnum.Media">Média</option>
                            <option [ngValue]="prioridadeEnum.Alta">Alta</option>
                            <option [ngValue]="prioridadeEnum.Urgente">Urgente</option>

                        </select>
                    </div>

                </div>

                <!-- VÍNCULO -->
                <div class="row mb-3">

             <div class="col-md-4">

  <label class="form-label">
    Tipo de Vínculo
  </label>

  <select
    class="form-control"
    formControlName="tipoVinculo">

    <option [ngValue]="null">
      Selecione
    </option>

    <option value="processo">
      Processo
    </option>

    <option value="caso">
      Caso
    </option>

    <option value="atendimento">
      Atendimento
    </option>

  </select>

</div>


<div class="col-md-8">

  <label class="form-label">
    Buscar vínculo
  </label>

  <app-vinculo
    [resultados]="resultadosVinculo"
    [vinculoSelecionado]="vinculoSelecionado"
    [tipoVinculo]="form.get('tipoVinculo')?.value ?? null"
    (buscar)="buscarVinculo($event)"
    (selecionado)="selecionarVinculo($event)">
  </app-vinculo>

</div>

   

                </div>

                <!-- LISTA DE TAREFAS -->
                <!--<div class="row mb-3">

                    <div class="col-12 mb-2">

                        <div class="d-inline-flex align-items-center gap-3">

                            <h5 class="card-title mb-0">
                                Checklist da tarefa
                            </h5>

                            <button type="button" class="btn btn-sm btn-info" (click)="adicionarItemLista()">

                                <i class="fas fa-list me-1"></i>
                                Adicionar item

                            </button>

                        </div>

                    </div>

                    <div *ngFor="let item of listasTarefa; let i = index" class="col-md-4 d-flex mb-2">

                        <input type="text" class="form-control me-2" [(ngModel)]="item.descricao"
                            [ngModelOptions]="{standalone: true}" placeholder="Descrição do item" />

                        <button type="button" class="btn btn-sm btn-danger" (click)="removerItemLista(i)">
                            <i class="fas fa-trash"></i>
                        </button>

                    </div>

                    <div class="col-md-6">
                        <app-autocomplete-lista-tarefas label="Adicionar existentes" placeholder="Digite a descrição"
                            [resultados]="listaFiltradas" [(selecionadas)]="listasTarefa"
                            (buscar)="buscarListaTarefas($event)">
                        </app-autocomplete-lista-tarefas>
                    </div>

                </div>
                     <button type="button" class="btn btn-secondary mt-3 me-2" (click)="irParaLista()">
          <i class="fas fa-arrow-left"></i> Voltar
        </button>-->
                <!-- BOTÃO -->
                <button type="submit" class="btn btn-primary" [disabled]="carregando">

                    <i class="align-middle me-2 fas fa-save fa-lg"></i>
                    Atualizar Tarefa

                </button>

     


            </form>

        </div>
    </div>
     <div #modalHistorico class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
    data-bs-keyboard="false">

    <div class="modal-dialog modal-xl modal-dialog-scrollable">

      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">
            Histórico do Tarefas
          </h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal">
          </button>
        </div>

        <div class="modal-body">

          <!-- LOADING -->
          <div *ngIf="carregandoHistorico">
            Carregando histórico...
          </div>

          <!-- HISTÓRICO -->
          <ul class="timeline">

            <li *ngFor="let h of historico" class="timeline-item pb-4 mb-4 border-bottom">

              <div class="d-flex justify-content-between align-items-center mb-2 flex-wrap">

                <strong>
                  {{ h.observacao || 'Atualização' }}
                </strong>

                <small class="text-muted">
                  Usuario que fez a alteração: <strong>{{ h.usuarioNome || 'Sistema' }}</strong>
                </small>

                <span class="text-muted small">
                  Data da altereçao: <strong>{{ h.dataAlteracao | date:'dd/MM/yyyy HH:mm' }}</strong>
                </span>

              </div>

              <div *ngFor="let m of getMudancas(h)" class="mb-2">

                <strong>
                  {{ formatarCampo(m.campo) }}
                </strong>

                <div>

                  <span class="text-danger text-decoration-line-through">
                    {{ formatarValor(m.antes, m.campo) }}
                  </span>

                  <i class="fas fa-arrow-right mx-2"></i>

                  <span class="text-success">
                    {{ formatarValor(m.depois, m.campo) }}
                  </span>

                </div>

              </div>

            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>
</div>