<div class="container-fluid p-0">

    <h1 class="h3 mb-3">
        <i class="align-middle me-2 fas fa-fw fa-user-edit"></i>
        Editar Usuário:
        <span class="badge badge-subtle-success">
            {{ usuarioLogado?.nomeUsuario }}
        </span>
    </h1>

    <app-spinner-consulta
        *ngIf="carregandoConsulta"
        [carregando]="true"
        message="Consultando..."
        class="d-inline-block">
    </app-spinner-consulta>

    <div class="row">

        <div class="col-md-12">

            <div class="card">

                <div class="card-body">

                    <!-- SPINNER -->

                    <app-spinner
                        *ngIf="carregando"
                        [show]="true"
                        message="Atualizando ..."
                        class="d-inline-block">
                    </app-spinner>

                    <!-- ALERTA SUCESSO -->

                    <app-alerts
                        *ngIf="!carregando && mensagemSucesso.length > 0"
                        class="w-100"
                        titulo="Sucesso!"
                        [mensagens]="mensagemSucesso"
                        tipo="success"
                        icone="fas fa-check-circle fa-lg">
                    </app-alerts>

                    <!-- ALERTA ERRO -->

                    <app-alerts
                        *ngIf="!carregando && mensagemErro.length > 0"
                        class="w-100"
                        titulo="Erro!"
                        [mensagens]="mensagemErro"
                        tipo="danger"
                        icone="fas fa-times-circle fa-lg">
                    </app-alerts>

                    <!-- FORM -->

                    <form
                        [formGroup]="form"
                        (ngSubmit)="onSubmit()"
                        class="user">

                        <div class="row">

                            <!-- NOME -->

                            <div class="mb-4 col-md-4 position-relative">

                                <label
                                    for="nomeUsuario"
                                    class="form-label">

                                    Nome*
                                </label>

                                <input
                                    type="text"
                                    id="nomeUsuario"
                                    class="form-control"
                                    formControlName="nomeUsuario"
                                    placeholder="Digite o nome" />

                                <div
                                    *ngIf="
                                        form.get('nomeUsuario')?.touched &&
                                        form.get('nomeUsuario')?.invalid
                                    "
                                    class="text-danger">

                                    <span
                                        *ngIf="
                                            form.get('nomeUsuario')
                                            ?.hasError('required')
                                        ">

                                        O nome é obrigatório.
                                    </span>

                                </div>

                            </div>

                            <!-- LOGIN -->

                            <div class="mb-4 col-md-4 position-relative">

                                <label
                                    for="login"
                                    class="form-label">

                                    Login
                                </label>

                                <input
                                    type="text"
                                    id="login"
                                    class="form-control"
                                    formControlName="login"
                                    placeholder="Digite o login" />

                                <div
                                    *ngIf="
                                        form.get('login')?.touched &&
                                        form.get('login')?.invalid
                                    "
                                    class="text-danger">

                                    <span
                                        *ngIf="
                                            form.get('login')
                                            ?.hasError('required')
                                        ">

                                        O login é obrigatório.
                                    </span>

                                </div>

                            </div>

                            <!-- EMAIL -->

                            <div class="mb-4 col-md-4 position-relative">

                                <label
                                    for="email"
                                    class="form-label">

                                    E-mail
                                </label>

                                <input
                                    type="email"
                                    id="email"
                                    class="form-control"
                                    formControlName="email"
                                    placeholder="Digite o e-mail" />

                                <div
                                    *ngIf="
                                        form.get('email')?.touched &&
                                        form.get('email')?.invalid
                                    "
                                    class="text-danger">

                                    <span
                                        *ngIf="
                                            form.get('email')
                                            ?.hasError('required')
                                        ">

                                        O e-mail é obrigatório.
                                    </span>

                                    <span
                                        *ngIf="
                                            form.get('email')
                                            ?.hasError('email')
                                        ">

                                        Informe um e-mail válido.
                                    </span>

                                </div>

                            </div>

                            <!-- ESCRITÓRIO -->

                            <div class="mb-4 col-md-12 position-relative">

                                <label
                                    for="escritorioInput"
                                    class="form-label">

                                    Escritório*
                                </label>

                                <input
                                    id="escritorioInput"
                                    type="text"
                                    class="form-control"
                                    placeholder="Digite o nome do escritório"
                                    autocomplete="off"
                                    [formControl]="escritorioControl"
                                    (focus)="mostrarSugestoesEscritorio = true"
                                    (blur)="ocultarSugestoesComDelayEscritorio()" />

                                <!-- SUGESTÕES -->

                                <ul
                                    *ngIf="
                                        mostrarSugestoesEscritorio &&
                                        escritoriosFiltrados.length > 0
                                    "
                                    class="list-group position-absolute w-100 shadow-sm mt-1 zindex-dropdown">

                                    <li
                                        *ngFor="let escritorio of escritoriosFiltrados"
                                        class="list-group-item d-flex justify-content-between align-items-center hover-click"
                                        (mousedown)="selecionarEscritorio(escritorio)">

                                        {{ escritorio.nome }}

                                        <i class="fas fa-fw fa-plus-circle text-muted fa-lg"></i>

                                    </li>

                                </ul>

                                <!-- ESCRITÓRIO SELECIONADO -->

                                <div
                                    *ngIf="escritorioSelecionado"
                                    class="form-text text-success mt-2">

                                    <h6 class="card-subtitle text-muted">

                                        Escritório selecionado:

                                    </h6>

                                    <ul class="lista-sem-bolinha">

                                        <li
                                            class="d-flex justify-content-between align-items-center mb-2 px-1 py-2 border-bottom">

                                            <span class="texto-maior">

                                                <strong>
                                                    {{ escritorioSelecionado.nome }}
                                                </strong>

                                            </span>

                                            <button
                                                type="button"
                                                class="border-0 bg-transparent p-0"
                                                (click)="removerEscritorioSelecionado()">

                                                <i class="fas fa-fw fa-trash-alt text-muted fa-lg"></i>

                                            </button>

                                        </li>

                                    </ul>

                                </div>

                            </div>

                            <!-- SETORES -->

                            <div class="mb-4 col-md-6 position-relative">

                                <label
                                    for="setorInput"
                                    class="form-label">

                                    Setor(es)
                                </label>

                                <input
                                    id="setorInput"
                                    type="text"
                                    class="form-control"
                                    placeholder="Digite o nome do setor"
                                    autocomplete="off"
                                    [formControl]="setorControl"
                                    (focus)="mostrarSugestoesSetor = true"
                                    (blur)="ocultarSugestoesComDelaySetor()" />

                                <!-- SUGESTÕES -->

                                <ul
                                    *ngIf="
                                        mostrarSugestoesSetor &&
                                        setorFiltradas.length > 0
                                    "
                                    class="list-group position-absolute w-100 shadow-sm mt-1 zindex-dropdown">

                                    <li
                                        *ngFor="let setor of setorFiltradas"
                                        class="list-group-item d-flex justify-content-between align-items-center hover-click"
                                        (mousedown)="selecionarSetor(setor)">

                                        {{ setor.nomeSetor }}

                                        <i class="fas fa-fw fa-plus-circle text-muted fa-lg"></i>

                                    </li>

                                </ul>

                                <!-- SELECIONADOS -->

                                <div
                                    *ngIf="setorSelecionadas.length > 0"
                                    class="form-text text-success mt-2">

                                    <h6 class="card-subtitle text-muted">

                                        Setores selecionados:

                                    </h6>

                                    <ul class="lista-sem-bolinha">

                                        <li
                                            *ngFor="let s of setorSelecionadas"
                                            class="d-flex justify-content-between align-items-center mb-2 px-1 py-2 border-bottom">

                                            <span class="texto-maior">

                                                <strong>
                                                    {{ s.nomeSetor }}
                                                </strong>

                                            </span>

                                            <button
                                                type="button"
                                                class="border-0 bg-transparent p-0"
                                                (click)="removerSetorSelecionada(s)">

                                                <i class="fas fa-fw fa-trash-alt text-muted fa-lg"></i>

                                            </button>

                                        </li>

                                    </ul>

                                </div>

                            </div>

                            <!-- NIVEIS -->

                            <div class="mb-4 col-md-6 position-relative">

                                <label
                                    for="nivelInput"
                                    class="form-label">

                                    Nível(is)
                                </label>

                                <input
                                    id="nivelInput"
                                    type="text"
                                    class="form-control"
                                    placeholder="Digite o nível"
                                    autocomplete="off"
                                    [formControl]="niveisControl"
                                    (focus)="mostrarSugestoesNiveis = true"
                                    (blur)="ocultarSugestoesComDelayNiveis()" />

                                <!-- SUGESTÕES -->

                                <ul
                                    *ngIf="
                                        mostrarSugestoesNiveis &&
                                        niveisFiltradas.length > 0
                                    "
                                    class="list-group position-absolute w-100 shadow-sm mt-1 zindex-dropdown">

                                    <li
                                        *ngFor="let nivel of niveisFiltradas"
                                        class="list-group-item d-flex justify-content-between align-items-center hover-click"
                                        (mousedown)="selecionarNivel(nivel)">

                                        {{ nivel.nomeNivel }}

                                        <i class="fas fa-fw fa-plus-circle text-muted fa-lg"></i>

                                    </li>

                                </ul>

                                <!-- SELECIONADOS -->

                                <div
                                    *ngIf="niveisSelecionadas.length > 0"
                                    class="form-text text-success mt-2">

                                    <h6 class="card-subtitle text-muted">

                                        Níveis selecionados:

                                    </h6>

                                    <ul class="lista-sem-bolinha">

                                        <li
                                            *ngFor="let n of niveisSelecionadas"
                                            class="d-flex justify-content-between align-items-center mb-2 px-1 py-2 border-bottom">

                                            <span class="texto-maior">

                                                <strong>
                                                    {{ n.nomeNivel }}
                                                </strong>

                                            </span>

                                            <button
                                                type="button"
                                                class="border-0 bg-transparent p-0"
                                                (click)="removerNivelSelecionado(n)">

                                                <i class="fas fa-fw fa-trash-alt text-muted fa-lg"></i>

                                            </button>

                                        </li>

                                    </ul>

                                </div>

                            </div>

                            <!-- SENHA -->

                            <div class="mb-4 col-md-4 position-relative">

                                <label
                                    for="senha"
                                    class="form-label">

                                    Senha
                                </label>

                                <input
                                    type="password"
                                    id="senha"
                                    class="form-control"
                                    formControlName="senha"
                                    placeholder="Digite a senha" />

                                <div
                                    *ngIf="
                                        form.get('senha')?.touched &&
                                        form.get('senha')?.invalid
                                    "
                                    class="text-danger">

                                    <span
                                        *ngIf="
                                            form.get('senha')
                                            ?.hasError('required')
                                        ">

                                        A senha é obrigatória.

                                    </span>

                                    <span
                                        *ngIf="
                                            form.get('senha')
                                            ?.hasError('senhaFraca')
                                        ">

                                        {{
                                            form.get('senha')
                                            ?.getError('senhaFraca')
                                        }}

                                    </span>

                                </div>

                            </div>

                            <!-- CONFIRMAR SENHA -->

                            <div class="mb-4 col-md-4 position-relative">

                                <label
                                    for="confirmarSenha"
                                    class="form-label">

                                    Confirmar Senha
                                </label>

                                <input
                                    type="password"
                                    id="confirmarSenha"
                                    class="form-control"
                                    formControlName="confirmarSenha"
                                    placeholder="Confirme a senha" />

                                <div
                                    *ngIf="
                                        form.get('confirmarSenha')?.touched
                                    "
                                    class="text-danger">

                                    <span
                                        *ngIf="
                                            form.get('confirmarSenha')
                                            ?.hasError('required')
                                        ">

                                        A confirmação da senha é obrigatória.

                                    </span>

                                    <span
                                        *ngIf="
                                            form.hasError('senhasDiferentes')
                                        ">

                                        As senhas não coincidem.

                                    </span>

                                </div>

                            </div>

                            <!-- BOTÃO -->

                            <div class="col-12 mt-4">

                                <button
                                    type="submit"
                                    class="btn btn-primary"
                                    [disabled]="!podeEnviar || carregando">

                                    <i class="align-middle me-2 fas fa-save fa-lg"></i>

                                    Salvar Alterações

                                </button>

                            </div>

                        </div>

                    </form>

                </div>

            </div>

        </div>

    </div>

</div>