<div class="container-fluid p-0">
    <h1 class="h3 mb-3">Editar Processo</h1>

    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Edição de Processo</h5>
            <h6 class="card-subtitle text-muted">Atualize os dados do processo</h6>
        </div>

        <div class="card-body">

            <!-- SPINNER -->
            <app-spinner *ngIf="carregando" [show]="true" message="Carregando..."></app-spinner>

            <!-- ALERTAS -->
     <app-alerts
  *ngIf="!carregando && mensagemSucesso.length"
  titulo="Sucesso!"
  [mensagens]="mensagemSucesso"
  tipo="success"
  icone="fas fa-check-circle">
</app-alerts>
         <app-alerts
  *ngIf="!carregando && mensagemErro.length"
  titulo="Erro!"
  [mensagens]="mensagemErro"
  tipo="danger"
  icone="fas fa-times-circle">
</app-alerts>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">

                <!-- ================= DADOS DO PROCESSO ================= -->
                <h5 class="mb-3">Dados do Processo</h5>
                <!-- ================= ETIQUETAS ================= -->
<div class="d-flex justify-content-end mb-3">

  <button
    type="button"
    class="btn btn-light bg-white border"
    (click)="abrirHistoricoProcesso(id)">

    <i class="fas fa-history me-2"></i>
    Histórico

  </button>

</div>
                <div class="mb-3">
                    <label class="form-label">Etiquetas</label>
                    <app-etiquetas [etiquetas]="tiposetiquetas" [(selecionadas)]="etiquetasSelecionadas">
                    </app-etiquetas>
                </div>

             <div class="row mb-3">
    <div class="col-md-12">

        <label class="form-label">
            Pasta *
        </label>

        <input
            class="form-control"
            formControlName="pasta">

        <div
            class="text-danger mt-1"
            *ngIf="
                form.get('pasta')?.touched &&
                form.get('pasta')?.errors
            ">

            <div
                *ngIf="
                    form.get('pasta')?.errors?.['required']
                ">

                A pasta é obrigatória.

            </div>

        </div>

    </div>
</div>

                <!-- ================= PESSOAS ================= -->
                <div class="row mb-3">

                    <div class="col-md-6">
                    <div class="col-md-6">

    <app-autocomplete-pessoa
        label="Cliente *"
        placeholder="Digite o nome do cliente"
        [resultados]="pessoasFiltradas"
        [(selecionadas)]="pessoasSelecionadas"
        [qualificacoes]="qualificacoes"
        (buscar)="buscarPessoas($event)">
    </app-autocomplete-pessoa>

    <div
        class="text-danger mt-1"
        *ngIf="
            tentouEnviar &&
            pessoasSelecionadas.length === 0
        ">

        É obrigatório selecionar pelo menos um cliente.

    </div>

</div>
                    </div>

                    <div class="col-md-6">
                        <app-autocomplete-pessoa label="Outros envolvidos" placeholder="Digite o nome do envolvido"
                            [resultados]="envolvidosFiltradas" [(selecionadas)]="envolvidosSelecionados"
                            [qualificacoes]="qualificacoes" (buscar)="buscarEnvolvidos($event)">
                        </app-autocomplete-pessoa>
                    </div>

                </div>

            <div class="row mb-3">

    <div class="col-md-12">

        <label class="form-label">
            Título *
        </label>

        <input
            class="form-control"
            formControlName="titulo">

        <div
            class="text-danger mt-1"
            *ngIf="
                form.get('titulo')?.touched &&
                form.get('titulo')?.errors
            ">

            <div
                *ngIf="
                    form.get('titulo')?.errors?.['required']
                ">

                O título é obrigatório.

            </div>

        </div>

    </div>

</div>


                <!-- ================= INSTÂNCIA / PROCESSO ================= -->
                <div class="row mb-3">

                    <div class="col-md-4">
                        <label class="form-label">Instância</label>
                        <select class="form-control" formControlName="instancia">
                            <option [ngValue]="null">Selecione</option>
                            <option [ngValue]="instanciaEnum.PrimeiroGrau">1º Grau</option>
                            <option [ngValue]="instanciaEnum.SegundoGrau">2º Grau</option>
                            <option [ngValue]="instanciaEnum.Superior">Superior</option>
                            <option [ngValue]="instanciaEnum.Supremo">Supremo</option>
                            <option [ngValue]="instanciaEnum.Outros">Outros</option>
                        </select>
                    </div>

                <div class="col-md-8">

    <label class="form-label">
        Número do Processo *
    </label>

    <input
        class="form-control"
        formControlName="numeroProcesso"
        mask="0000000-00.0000.0.00.0000">

    <div
        class="text-danger mt-1"
        *ngIf="
            form.get('numeroProcesso')?.touched &&
            form.get('numeroProcesso')?.errors
        ">

        <div
            *ngIf="
                form.get('numeroProcesso')?.errors?.['required']
            ">

            O número do processo é obrigatório.

        </div>

    </div>

</div>

                </div>

                <!-- ================= SELEÇÕES ================= -->
                <div class="row mb-3">



                    <div class="col-md-3">
                        <label class="form-label">Foro</label>
                        <select class="form-control" formControlName="foroId">
                            <option [ngValue]="null">Selecione</option>
                            <option *ngFor="let foro of foros" [ngValue]="foro.id">
                                {{ foro.nome }}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Vara *</label>
                        <select class="form-control" formControlName="varaId">
                            <option [ngValue]="null">Selecione</option>
                            <option *ngFor="let vara of varasFiltradas" [ngValue]="vara.id">
                                {{ vara.nomeVara }}
                            </option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="form-label">Ação</label>
                        <select class="form-control" formControlName="acaoId">
                            <option [ngValue]="null">Selecione</option>
                            <option *ngFor="let acao of acoes" [ngValue]="acao.idAcao">
                                {{ acao.nomeAcao }}
                            </option>
                        </select>
                    </div>
                    <!---->
                    <div class="col-md-3">
                        <label class="form-label">Juízo</label>
                        <p> {{ juizoFormatado }}</p>
                    </div>
                </div>

                <div class="row mb-3">

                    <div class="col-md-6">
                        <label class="form-label">Responsável</label>
                        <select class="form-control" formControlName="usuarioResponsavelId">
                            <option [ngValue]="null">Selecione</option>
                            <option *ngFor="let user of responsaveis" [ngValue]="user.id">
                                {{ user.nomeUsuario }}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Link do Tribunal</label>
                        <input class="form-control" formControlName="linkTribunal">
                    </div>
                </div>

                <!-- ================= DETALHES ================= -->




                <!-- ================= VALORES ================= -->
                <h5 class="mt-4 mb-3">Valores e Datas</h5>

                <div class="row mb-3">

                    <div class="col-md-4">
                        <label class="form-label">Valor da Causa</label>
                      <input
  type="text"
  class="form-control"
  formControlName="valorCausa"
  (input)="onMoneyInput($event, 'valorCausa')">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Valor da Condenação</label>
                       <input
  type="text"
  class="form-control"
  formControlName="valorCondenacao"
  (input)="onMoneyInput($event, 'valorCondenacao')">
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Data de Distribuição</label>
                        <input type="date" class="form-control" formControlName="distribuido">
                    </div>

                </div>
                <div class="row mb-3">

                    <div class="col-md-6">
                        <label class="form-label">Objeto</label>
                        <textarea class="form-control" rows="3" formControlName="objeto"></textarea>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Observação</label>
                        <textarea class="form-control" rows="3" formControlName="observacao"></textarea>
                    </div>
                </div>
                <!-- ================= ACESSO ================= -->
          

                <!-- BOTÃO -->
                <button type="button" class="btn btn-secondary mt-3 me-2" (click)="irParaLista()">
                    <i class="fas fa-arrow-left"></i> Voltar
                </button>

                <!-- BOTÃO -->
                <button type="submit" class="btn btn-primary mt-3" [disabled]="carregando">
                    <i class="fas fa-save"></i> Atualizar Processo
                </button>

            </form>

        </div>
    </div>
<div
  #modalHistorico
  class="modal fade"
  tabindex="-1"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false">

  <div class="modal-dialog modal-xl modal-dialog-scrollable">

    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          Histórico do Processo
        </h5>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal">
        </button>
      </div>

      <div class="modal-body">

        <!-- LOADING -->
      <div *ngIf="carregandoHistorico">
          Carregando histórico...
        </div>

        <!-- HISTÓRICO -->
        <ul
          class="timeline"
          >

          <li
  *ngFor="let h of historico"
  class="timeline-item pb-4 mb-4 border-bottom">

            <div class="d-flex justify-content-between align-items-center mb-2 flex-wrap">

              <strong>
                {{ h.observacao || 'Atualização' }}
              </strong>

              <small class="text-muted">
                {{ h.usuarioNome || 'Sistema' }}
              </small>

              <span class="text-muted small">
                {{ h.dataAlteracao | date:'dd/MM/yyyy HH:mm' }}
              </span>

            </div>

<div
  *ngFor="let m of getMudancas(h)"
  class="mb-2">

              <strong>
                {{ formatarCampo(m.campo) }}
              </strong>

              <div>

                <span class="text-danger text-decoration-line-through">
                  {{ formatarValor(m.antes, m.campo) }}
                </span>

                <i class="fas fa-arrow-right mx-2"></i>

                <span class="text-success">
                  {{ formatarValor(m.depois, m.campo) }}
                </span>

              </div>

            </div>

          </li>

        </ul>

      </div>

    </div>

  </div>

</div>
</div>