<div class="container-fluid p-0">
  <h1 class="h3 mb-3">Editar Atendimento</h1>

  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Edição de Atendimento</h5>
      <h6 class="card-subtitle text-muted">Atualize os dados do atendimento</h6>
    </div>

    <div class="card-body">

      <!-- SPINNER -->
      <app-spinner *ngIf="carregando" [show]="true" message="Atualizando..."></app-spinner>

      <!-- ALERTAS -->
      <app-alerts
  *ngIf="!carregando && mensagemSucesso.length"
  titulo="Sucesso!"
  [mensagens]="mensagemSucesso"
  tipo="success"
  icone="fas fa-check-circle">
</app-alerts>
         <app-alerts
  *ngIf="!carregando && mensagemErro.length"
  titulo="Erro!"
  [mensagens]="mensagemErro"
  tipo="danger"
  icone="fas fa-times-circle">
</app-alerts>


      <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <!-- ================= DADOS DO ATENDIMENTO ================= -->
        <h5 class="mb-3">Dados do Atendimento</h5>
        <!-- ================= CLIENTES ================= -->
        <div class="d-flex justify-content-end mb-3">

          <button type="button" class="btn btn-light bg-white border" (click)="abrirHistoricoProcesso(id)">

            <i class="fas fa-history me-2"></i>
            Histórico

          </button>

        </div>
        <div class="mb-3">
          <label class="form-label">Etiquetas</label>

          <app-etiquetas [etiquetas]="tiposetiquetas" [(selecionadas)]="etiquetasSelecionadas">
          </app-etiquetas>
        </div>
  <div class="row mb-3 autocomplete-row">

  <div class="col-md-6 autocomplete-col">

    <app-autocomplete-pessoa-atendimento
      label="Clientes *"
      placeholder="Digite o nome do cliente"
      [resultados]="pessoasFiltradas"
      [(selecionadas)]="pessoasSelecionadas"
      (buscar)="buscarPessoas($event)">
    </app-autocomplete-pessoa-atendimento>

    <div
      *ngIf="
        tentouEnviar &&
        pessoasSelecionadas.length === 0
      "
      class="text-danger mt-1">

      <small>
        É obrigatório selecionar pelo menos um cliente.
      </small>

    </div>

  </div>

  <div class="col-md-6">

    <label class="form-label">
      Assunto *
    </label>

    <input
      class="form-control"
      formControlName="assunto">

    <div
      *ngIf="
        form.get('assunto')?.touched &&
        form.get('assunto')?.hasError('required')
      "
      class="text-danger mt-1">

      <small>
        Assunto é de preenchimento obrigatório.
      </small>

    </div>

  </div>

</div>

       <div class="row mb-3 vinculo-row">

  <div class="col-md-4">

    <label class="form-label">
      Tipo de Vínculo
    </label>

    <select
      class="form-select"
      formControlName="tipoVinculo"
      [disabled]="true">

      <option [ngValue]="null">
        Selecione
      </option>

      <option value="processo">
        Processo
      </option>

      <option value="caso">
        Caso
      </option>

      <option value="atendimento">
        Atendimento
      </option>

    </select>

  </div>

  <div class="col-md-8 vinculo-col">

    <label class="form-label">
      Buscar vínculo
    </label>

    <app-vinculo
      [resultados]="resultadosVinculo"
      [vinculoSelecionado]="vinculoSelecionado"
      [tipoVinculo]="form.get('tipoVinculo')?.value ?? null"
      (buscar)="buscarVinculo($event)"
      (selecionado)="selecionarVinculo($event)">
    </app-vinculo>

  </div>

</div>
      
         <div class="mb-3">

  <label class="form-label">
    1º Registro do atendimento *
  </label>

  <textarea
    class="form-control"
    rows="4"
    formControlName="registro">
  </textarea>

  <div
    *ngIf="
      form.get('registro')?.touched &&
      form.get('registro')?.hasError('required')
    "
    class="text-danger mt-1">

    <small>
      Registro do atendimento é de preenchimento obrigatório.
    </small>

  </div>

</div>
  

       
        <div class="mb-3">

  <label class="form-label">
    Motivo da Alteração *
  </label>

  <textarea
    class="form-control"
    rows="4"
    formControlName="observacao">
  </textarea>

  <div
    *ngIf="
      form.get('observacao')?.touched &&
      form.get('observacao')?.hasError('required')
    "
    class="text-danger mt-1">

    <small>
      Motivo da alteração é de preenchimento obrigatório.
    </small>

  </div>

</div>
        


        <button type="button" class="btn btn-secondary mt-3 me-2" (click)="irParaLista()">
          <i class="fas fa-arrow-left"></i> Voltar
        </button>

        <!-- BOTÃO -->
        <button type="submit" class="btn btn-primary mt-3" [disabled]="carregando">
          <i class="fas fa-save"></i> Atualizar Atendimento
        </button>

      </form>

    </div>
  </div>
  <div #modalHistorico class="modal fade" tabindex="-1" aria-hidden="true" data-bs-backdrop="static"
    data-bs-keyboard="false">

    <div class="modal-dialog modal-xl modal-dialog-scrollable">

      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title">
            Histórico do Atendimento
          </h5>

          <button type="button" class="btn-close" data-bs-dismiss="modal">
          </button>
        </div>

        <div class="modal-body">

          <!-- LOADING -->
          <div *ngIf="carregandoHistorico">
            Carregando histórico...
          </div>

          <!-- HISTÓRICO -->
          <ul class="timeline">

            <li *ngFor="let h of historico" class="timeline-item pb-4 mb-4 border-bottom">

              <div class="d-flex justify-content-between align-items-center mb-2 flex-wrap">

            <strong>
                  {{ h.observacao || 'Atualização' }}
                </strong>

                <small class="text-muted">
                  Usuario que fez a alteração: <strong>{{ h.usuarioNome || 'Sistema' }}</strong>
                </small>

                <span class="text-muted small">
                  Data da altereçao: <strong>{{ h.dataAlteracao | date:'dd/MM/yyyy HH:mm' }}</strong>
                </span>

              </div>

              <div *ngFor="let m of getMudancas(h)" class="mb-2">

                <strong>
                  {{ formatarCampo(m.campo) }}
                </strong>

                <div>

                  <span class="text-danger text-decoration-line-through">
                    {{ formatarValor(m.antes, m.campo) }}
                  </span>

                  <i class="fas fa-arrow-right mx-2"></i>

                  <span class="text-success">
                    {{ formatarValor(m.depois, m.campo) }}
                  </span>

                </div>

              </div>

            </li>

          </ul>

        </div>

      </div>

    </div>

  </div>
</div>